/*navigetion bar style sheet */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.navbar{

}
a.navbar_brand{
    text-decoration: none;
    color: rgb(60, 60, 242);
    font-size: 4vw;
    font-weight: 900;
}
ul.navbar_ul{
    display: flex;
}
/*responsive navbar*/
@media all and (max-width: 700px) {
    ul.navbar_ul{
        display: none;
    }
    .job_discription{
        flex-direction: column;
        width: 80vw;
    }
    .market{
        width: 80vw;
    }
}

li.navbar_list{
    list-style-type: none;

}
ul li a{
    text-decoration: none;
    color: black;
    padding: 1.5vw;
    margin: 0 .2vw;
    background-color: blueviolet;
    font-weight: 400;
    font-size: 2vw;
}
button.navbar_button{
    font-size: 2vw;
    padding: 1.5vw;
    cursor: pointer;
    border: 0;
}
/*second part of project*/
div.second{
    text-align: center;
    background-image: url(banner-bg.png);
    padding: 8vw;
}
div.second_center{
    max-width: 60vw;
    display: block;
    margin: auto;
}
div.intro_text{
    font-size: 4vw;
    color: white;
}
div.form_box{
    margin: 2vw;
}
.form input[type="text"]{
    border: none;
    padding-left: 1vw;
    color: rgb(80, 84, 84);
    font-size: 2vw;
    border: 0;
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
    transition: .5s ease;
}
.form input[type="text"]:focus{
    border: 0;
    background-color: black;
    color: white;
}
.form input[type="button"]{
    font-size: 2vw;
    color: bisque;
    background-color: rgb(8, 1, 15);
    border: 0;
    border-radius: 0 2vw 2vw 0;
}
div.second_text{
    font-size: 1.5vw;
    color: white;
    padding: 2vw;
}
div.discover_more button{
    font-size: 1.5vw;
    padding: 1vw;
    cursor: pointer;
    border-radius: 1vw;
    transition: .5s ease-in;
}
div.discover_more button:hover{
    background-color: black;
    color: wheat;
}
/*jobs*/
.job_discription{
    display: flex;
    flex-wrap: wrap;
    margin: 4vw 0;
}

div.market{
    margin: 2vw;
}
div.market div.heading{
    font-size: 4vw;
    margin: 1vw;
}
div.all_text{
    font-size: 2vw;
}
@media all and (min-width: 700px){
    div.image img{
        width: 40vw;
        height: auto;
    }
    div.market{
        width: 50vw;
    }
}
div.apply{
    text-align: center;
}
div.apply button{
    font-size: 1.5vw;
    padding: 1vw 2vw;
    background-color: blue;
    color: white;
    border: 0;
    margin-top: 3vw;
    cursor: pointer;
    transition: .5s ease-out;
}
div.apply button:hover{
    background-color: black;
}
/* end block of web paage*/
div.end_text{
    background-color: #00aeef;
}
div.inner_box{
    margin: 2vw;
    padding: 1vw;
}
div.subscribe{
    color: white;
    font-size: 4vw;
    margin: 2vw;
}
div.next{
    color: white;
    font-size: 2vw;
    margin: 2vw;
}
div.textarea{
    padding: 2vw;
    position: relative;
    right: 0;
}
textarea[name=""]{
    width: 80%;
    font-size: 2vw;
    color: #c3c2c2;
    background-color: #fff;
    padding-left: 2vw;
    padding-top: 1vw;
    height: 5vw;
    border: 0;
    border-radius: 2vw;
    padding-right: 20%;
    height: 3vw;
    margin-bottom: 0;
    resize: vertical;
  }

div.textarea button{
    width: 20%;
    background-color: #313233;
    float: right;
    color: #fff;
    height: 3vw;
    font-size: 2vw;
    border-radius: 2vw;
    position: absolute;
    right: 1vw;
    bottom: 3vw;
    cursor: pointer;
    transition: .5s ease-in;
}
div.textarea button:hover{
    box-shadow: 1vw 1vw 1vw  black;
}
/*bottom*/
.bottom{
    height: 10vw;
    background-color: white;
    color: black;
    font-weight: 500;
    text-align: center;
    vertical-align: center;
    font-size: 2vw;
}